In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
# !pip install xlrd # runs cmd on system

In [2]:
# read all datasets 
gdp_df = pd.read_csv('../data/gdp_per_capita.csv')
maternity_leave = pd.read_excel('../data/Maternity leave benefits.xls',skiprows = 2)
# country_id = pd.read_csv('../data/UNSD — Methodology.csv')

# inspect each dataset
print('Maternity Leave Dataset:')
display(maternity_leave.head(10))
display(maternity_leave.tail(10))
# print('\nStandard country or area codes (M49) for country specification:')
# print(country_id.head(10))
# print(country_id.tail(10))

Maternity Leave Dataset:

,Country or area,Length of maternity \nleave,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Percentage of wages paid in covered period (%),Unnamed: 7,Unnamed: 8,Provider of benefit
0,Afghanistan,NaN,90,days,NaN,NaN,100,NaN,NaN,Employer
1,Albania,NaN,365,calendar days,NaN,NaN,"80, 50",a,NaN,Social insurance system
2,Algeria,NaN,14,weeks,NaN,NaN,100,NaN,NaN,Social security
3,Andora,NaN,16,weeks,NaN,NaN,100,NaN,NaN,Social insurance system
4,Angola,NaN,12,weeks,NaN,NaN,100,NaN,NaN,Social security and Employer
5,Antigua and Barbuda,NaN,13,weeks,NaN,NaN,"100, 60",b,NaN,Social insurance and Employer
6,Argentina,NaN,90,days,NaN,NaN,100,c,NaN,Family allowance funds (financed through state...
7,Armenia,NaN,140,days,NaN,NaN,100,NaN,NaN,Social insurance
8,Australia,NaN,18,weeks,NaN,NaN,…,d,NaN,Social assistance system financed by the State
9,Austria,NaN,16,weeks,NaN,NaN,100,NaN,NaN,"Statutory health insurance, family burden equa..."

,Country or area,Length of maternity \nleave,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Percentage of wages paid in covered period (%),Unnamed: 7,Unnamed: 8,Provider of benefit
171,United Republic of Tanzania,NaN,12,weeks,NaN,NaN,100,NaN,NaN,Employer
172,United States of America,NaN,12,weeks,NaN,NaN,…,q2,NaN,…
173,Uruguay,NaN,12,weeks,NaN,NaN,100,r2,NaN,Social security system
174,Uzbekistan,NaN,126,calendar days,NaN,NaN,100,d,NaN,State social insurance scheme
175,Vanuatu,NaN,12,weeks,NaN,NaN,66,NaN,NaN,Employer
176,Venezuela,NaN,18,weeks,NaN,NaN,100,NaN,NaN,Social security
177,Viet Nam,NaN,4-6,months,s2,NaN,100,NaN,NaN,Social insurance fund
178,Yemen,NaN,60,days,NaN,NaN,100,NaN,NaN,Employer
179,Zambia,NaN,12,weeks,NaN,NaN,100,NaN,NaN,Employer
180,Zimbabwe,NaN,98,days,NaN,NaN,100,NaN,NaN,Employer

,Country or area,Length of maternity \nleave,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Percentage of wages paid in covered period (%),Unnamed: 7,Unnamed: 8,Provider of benefit
0,Afghanistan,NaN,90,days,NaN,NaN,100,NaN,NaN,Employer
1,Albania,NaN,365,calendar days,NaN,NaN,"80, 50",a,NaN,Social insurance system
2,Algeria,NaN,14,weeks,NaN,NaN,100,NaN,NaN,Social security
3,Andora,NaN,16,weeks,NaN,NaN,100,NaN,NaN,Social insurance system
4,Angola,NaN,12,weeks,NaN,NaN,100,NaN,NaN,Social security and Employer
...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,NaN,18,weeks,NaN,NaN,100,NaN,NaN,Social security
177,Viet Nam,NaN,4-6,months,s2,NaN,100,NaN,NaN,Social insurance fund
178,Yemen,NaN,60,days,NaN,NaN,100,NaN,NaN,Employer
179,Zambia,NaN,12,weeks,NaN,NaN,100,NaN,NaN,Employer
180,Zimbabwe,NaN,98,days,NaN,NaN,100,NaN,NaN,Employer

In [3]:
# maternity_leave['Length of maternity (in days)'] = 

# check unique values in Unnamed: 3 column
print(maternity_leave['Unnamed: 3'].unique())

# filter data for rows with weeks 
# weeks = maternity_leave[maternity_leave['Unnamed: 3'] == 'weeks']
# print(weeks)
# months = maternity_leave[maternity_leave['Unnamed: 3'] == 'months']

['days' 'calendar days' 'weeks' 'year' 'months' 'working days' 'days '
 'month(s)' 'weeks ']

Assumptions: 
- days and calendar days are the same 
- convert weeks to days by (amount of weeks * 5 days)
- convert months to days by (amount of months * 22 days)
- take the mean if there's a range of numbers
- if the mean is not a whole #, take the min value
- one week = 5 days 
- one month = 22 days 
- one year = 260 days

In [4]:
# create a conversion method for 'Unnamed: 3' column

conversion = {
    'days': 1,
    'calendar days': 1,
    'weeks': 5,
    'year': 260,
    'months': 22,
    'working days': 1,
    'days ': 1,
    'month(s)': 22,
    'weeks ': 5,
}

In [5]:
maternity_leave = maternity_leave.replace({'Unnamed: 3': conversion})
# print(maternity_leave)

In [11]:
print(maternity_leave['Unnamed: 2'].unique())
print(maternity_leave[maternity_leave['Unnamed: 2'].isin(['1+','6+', '120-150', '120, 90, 75', '1, 2', '4-6'])])

[90 365 14 16 12 13 140 18 126 45 15 1 120 9 227 17 60 10 4 '1+' 28 84 105
 3 24 26 62 5 8 70 112 7 20 52 '6+' 6 '120-150' 50 480 '120, 90, 75'
 '1, 2' '4-6' 98]
          Country or area  Length of maternity \nleave   Unnamed: 2  \
45                Croatia                          NaN           1+
125      Papua New Guinea                          NaN           6+
130              Portugal                          NaN      120-150
158  Syrian Arab Republic                          NaN  120, 90, 75
164               Tunisia                          NaN         1, 2
177              Viet Nam                          NaN          4-6

     Unnamed: 3 Unnamed: 4  Unnamed: 5  \
45          260          t         NaN
125           5         p1         NaN
130           1        NaN         NaN
158           1         i2         NaN
164          22         l2         NaN
177          22         s2         NaN

    Percentage of wages paid in covered period (%) Unnamed: 7  Unnamed: 8  \
45                                             100          u         NaN
125                                              …         q1         NaN
130                                         100-80         t1         NaN
158                                            100        NaN         NaN
164                                    67, 50, 100         m2         NaN
177                                            100        NaN         NaN

                                   Provider of benefit
45   Health Insurance Fund (until  the child reache...
125                                                  …
130                                   Social insurance
158                                           Employer
164                      National Social Security Fund
177                              Social insurance fund

In [10]:
# create a conversion method for 'Unnamed: 2' column
conversion2 = {
    '1+': 1,
    '6+': 6,
    '120-150': 120,
    '120, 90, 75': 90,
    '1, 2': 1, 
    '4-6': 5,
}

Notes: 
- '1+': 45 days before delivery and 1 year after.
- '6+': A female employee is entitled to take maternity leave for a period necessary for hospitalization before confinement and six weeks after confinement. 
- '120-150': 100 per cent of the average daily wages (if the parents opted for a leave of 120 days) or 80 % (if the parents opted for a 150-day leave period)
- '120, 90, 75': 120 days for the first childbirth, 90 days for the second childbirth and 75 days for the third childbirth.
- '1, 2': Civil servants entitled to 2 months of maternity leave.
- '4-6': 	The duration of the maternity leave entitlement varies from 4 to 6 months, depending on the nature and conditions of the employee's work. 

Source: https://data.un.org/DocumentData.aspx?id=344

In [8]:
# add new column for length of maternity using converted values
maternity_leave['Length of maternity (in days)'] = maternity_leave['Unnamed: 2'] * maternity_leave['Unnamed: 3']

# data cleanup 
maternity_leave = maternity_leave.drop(columns = ['Length of maternity \nleave','Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8'])
display(maternity_leave)